<div>

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@parccloudhub.com">info@parccloudhub.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+92 340-141786-2</span></i>
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </section><!-- End Top Bar -->
    
      <header id="header" class="header sticky-top  d-flex align-items-center bg-success ">
    
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/logo.png" alt=""> -->
            <h1>PARC <span class="text-light">CLOUDHUB</span></h1>
          </a>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/mission">Our Mission</a></li>
              
              <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Events</a></li>
                  <li class="dropdown"><a href="#"><span>Branch Portals</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                      <li><a href="/droppages">ISB Branch</a></li>
                      <li><a href="/droppages">LHR Branch</a></li>
                      <li><a href="/droppages">KAR Branch</a></li>
                      <li><a href="/droppages">RWD Branch</a></li>
                      <li><a href="/droppages">FSD Branch</a></li>
                    </ul>
                  </li>
                  <li><a href="/innerpages">Research and Development</a></li>
                  <li><a href="/innerpages">Data Analytics</a></li>
                  <li><a href="/innerpages">Training and Workshops</a></li>
                </ul>
              </li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/login" class="btn btn-light text-success px-3 py-2"><span><i class="fas fa-user"></i></span> As Admin</a></li>
            </ul>
          </nav><!-- .navbar -->
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
        </div>
      </header><!-- End Header -->
      <!-- End Header -->
    
      <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
          <div class="page-header d-flex align-items-center bg-success ">
            <div class="container position-relative">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                  <h2>About Us</h2>
                  <p>Provide a brief overview of PARC CLOUDHUB and its affiliation with the Pakistan Agricultural Research Center (PARC). Highlight the commitment to leveraging technology and research to enhance productivity and sustainable growth in the agricultural sector.</p>
                </div>
              </div>
            </div>
          </div>
          <nav>
            <div class="container">
              <ol>
                <li><a href="/">Home</a></li>
                <li>About Us</li>
              </ol>
            </div>
          </nav>
        </div><!-- End Breadcrumbs -->
    
        <section class="sample-page">
          <div class="container" data-aos="fade-up">
    
            <p>
              You can duplicate this sample page and create any number of inner pages you like!
            </p>
    
          </div>
        </section>
    
      </main><!-- End #main -->
    
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer bg-success">
  
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <span>PARC CLOUDHUB</span>
              </a>
              <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
              <div class="social-links d-flex mt-4">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
    
            <div class="col-lg-2 col-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Product Management</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Graphic Design</a></li>
              </ul>
            </div>
    
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
              <h4>Contact Us</h4>
              <p>
                PARC Center<br>
                Sector G-5, Islamabad<br>
                Pakistan <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@parccloudhub.com<br>
              </p>
    
            </div>
    
          </div>
        </div>
    
        <div class="container mt-4">
          <div class="copyright">
            &copy; Copyright <strong><span>PARC CLOUDHUB</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/PARC CLOUDHUB-bootstrap-business-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">CUI WAH</a>
          </div>
        </div>
    
      </footer><!-- End Footer -->
      <!-- End Footer -->
    
  
  
</div>
