<!-- <section class="text-center">
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
      <div class="row g-3">
        <div class="col-12">
          <h1 class="display-4">Page Not Found! 😮</h1>
          <p class="lead">Oops! The page you are looking for might be in another galaxy. 🌌</p>
          <p class="lead">Return to <a href="/">home</a>.</p>
        </div>
      </div>
    </div>
  </section> -->
  <section class="text-center">
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
      <div class="row g-3">
        <div class="col-12">
          <h1 class="display-4"> Error Page Not Found!   😕</h1>
          <p class="lead">Oops! It seems you are not authorized to access this page. 🚫</p>
          <p class="lead">Return to <a routerLink="/mainpage">home</a>.</p>
        </div>
      </div>
    </div>
  </section>
    