<ngx-spinner bgColor="rgba(51,51,51,0.8)"
size="medium"
color="#1fed83"
type="ball-triangle-path"
>
<p style="font-size: 2opx; color: white;">Loading...</p>
</ngx-spinner>


<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link " routerLink="mainpage">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
  </li><!-- End Dashboard Nav -->

  <li class="nav-heading">CMS</li>

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-menu-button-wide"></i><span>Our Portals</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a routerLink="ourPortals">
          <i class="bi bi-circle"></i><span>View Portals</span>
        </a>
      </li>
    </ul>
  </li><!-- End Components Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-journal-text"></i><span>Our Pages</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a routerLink="pageList">
          <i class="bi bi-circle"></i><span>Pages Management</span>
        </a>
      </li>
      <li>
        <a routerLink="menus">
          <i class="bi bi-circle"></i><span>Menus Management</span>
        </a>
      </li>

      <li>
        <a routerLink="images">
          <i class="bi bi-circle"></i><span>Slider Iamges</span>
        </a>
      </li>

    </ul>
  </li><!-- End Forms Nav -->


  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-person"></i><span>Our Users</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a routerLink="users">
          <i class="bi bi-circle"></i><span>Users View</span>
        </a>
      </li>
    </ul>
  </li><!-- End Icons Nav -->

  <li class="nav-heading">Workflow</li>

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#feedback-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-chat"></i><span>Feedback</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="feedback-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a routerLink="feedback">
          <i class="bi bi-circle"></i><span>View Feedback</span>
        </a>
      </li>
    </ul>
  </li><!-- End Icons Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-layout-text-window-reverse"></i><span>Notification and alert</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a routerLink="seenotifications">
          <i class="bi bi-circle"></i><span>View Notifications</span>
        </a>
      </li>
      <li>
        <a routerLink="sendnotifications">
          <i class="bi bi-circle"></i><span>Send Notifications</span>
        </a>
      </li>
    </ul>
  </li><!-- End Tables Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-bar-chart"></i><span>Reports and Analytics</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a routerLink="reports">
          <i class="bi bi-circle"></i><span>Reports</span>
        </a>
      </li>
    </ul>
  </li><!-- End Charts Nav -->

  <li class="nav-heading">General</li>

  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="profile">
      <i class="bi bi-person"></i>
      <span>Profile</span>
    </a>
  </li><!-- End Profile Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="settings">
      <i class="bi bi-gear"></i>
      <span>Settings</span>
    </a>
  </li><!-- End Error 404 Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/">
      <i class="bi bi-power"></i>
      <span (click)="logout()">Logout</span>
    </a>
  </li><!-- End Blank Page Nav -->

</ul>


