h2{
    color: aliceblue;
}

.close
{
    font-weight: 700;
    /* background-color: border-box; */
    color: white;
    font-size: 33px;
    width: 50px;
    border: none;
    background: none;

}

.modal-backdrop.show {
    display: none !important;
    opacity: 0 !important;
  }