<section>
  <div class="container-fluid ">
    <h3>Portal View</h3>
    <div class="card shadow">
      <div class="card-body">
        <div class="p-3">
          <div class="row mb-4">
            <!-- Sidebar -->
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sidebar</h5>
                  <!-- Add sidebar content as needed -->
                  <ul class="list-group">
                    <li class="list-group-item bg-success text-light">Menu 1</li>
                    <li class="list-group-item">Menu 23</li>
                    <li class="list-group-item">Menu 2</li>
                    <li class="list-group-item">Menu 21</li>
                    <li class="list-group-item">Menu 22</li>
                    <li class="list-group-item">Menu 33</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Page 123</h5>
                  <p class="card-text">This is the description for the portal. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum voluptas distinctio, atque nobis est commodi repellat pariatur cumque ipsa expedita?</p>
                  <p class="card-text">This is the description for the portal. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum voluptas distinctio, atque nobis est commodi repellat pariatur cumque ipsa expedita?</p>
                  <p class="card-text">This is the description for the portal. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum voluptas distinctio, atque nobis est commodi repellat pariatur cumque ipsa expedita?</p>
                  <!-- Add more content as needed -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

